.ExpandControl {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-family: FontAwesome;
  margin-right: 8px;

  &.expanded:before {
    content: "\f0d7";
  }
  &.collapsed:before {
    content: "\f0d8";
  }
}

.Expandable {
  &.enabled {
    display: flex;
  }
  
  &.collapsed  {
    overflow-y: hidden;

    pre {
      overflow: hidden;
    }
  }

  &.expanded .ellipsis {
    color: transparent;
  }
}
