@import '../../stylesheets/variables';


.Track {
  margin: 0.5em 0;

  &.page-viewtype {
    & > * {
      margin: 0.5em 0;
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  /* TODO Inline layout and remove some details on small screens */
  .playLists {
    @include playlist-table;
  }
}


.SearchTracks {
  form {
    .search-fields {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 0 -10px;

      input {
        margin: 0 10px 10px;
        flex-grow: 1;
        width: auto;
        min-width: 15em;
      }
    }
  }
}


.SearchTrackResults {
  .no-results {
    font-weight: bold;
  }

  .track-list {
    @include track-table;
  }
}
