@import '../../stylesheets/variables';


.Track {
  margin: 0.5em 0;

  &.page-viewtype {
    & > * {
      margin: 0.5em 0;
    }

    h4 {
      margin-top: 2.5em;
      clear: both;
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  &.dragging {
    opacity: 0.5;
  }
  &.hovered-top {
    border-top: 4px solid $cb-aqua !important;
    & > * {
      padding-top: 4px !important;
    }
  }
  &.hovered-bottom {
    border-bottom: 4px solid $cb-aqua !important;
    & > * {
      border-bottom-style: none;
      padding-bottom: 4px !important;
    }
  }
}


.TrackList {
  @include track-table;

  .list-compact-viewtype {
    .header-Icons, .IconsAndLinks {
      width: 105px;
    }
  }

  .list-viewtype { // not compact view
    .header-Icons, .IconsAndLinks {
      width: 55px;
    }
  }
}
