@import '../../stylesheets/variables';

.Search {
  .results {
    @include flex-row-wrap;
    align-items: flex-start;
    margin: -20px 0;
    > * {
      width: 100%;
      margin: 20px 0;
      border: 1px solid $gray-lighter;
      border-radius: 5px;
      padding: 0 10px;
    }

    .no-results {
      margin: 10px 0;
      padding-top: 5px;
      border-top: 1px solid $gray-light;
    }

    .items-wrapper.selectable > * > * {
      cursor: pointer;
      &.header-row {
        cursor: inherit;
      }
    }
  }

  &.track.artist.compiler.playlist {
    .results {
      @media (min-width: 600px) and (max-width: 1199px) {
        .artist-results {
          width: 48%;
        }
        .compiler-results {
          width: 48%;
        }
      }

      @media (min-width: 1200px) {
        .track-results {
          width: 75%;
        }
        .artist-results {
          width: 22%;
        }
        .compiler-results {
          width: 22%;
        }
        .playlist-results {
          width: 75%;
        }
      }
    }
  }
}
