@import '../../stylesheets/variables';


.edit-inline-color-container {
  line-height: 0;
}

.edit-inline-color {
  width: 2em;
  height: 2em;
  border-radius: 50% 50%;
  display: inline-block;
  margin-right: 0.5em;
}

.EditInline {
  display: flex;

  .edit-icon {
    margin: 0 0 0 5px;
    width: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      color: $success;
    }
  }

  &:hover .edit-icon {
    font-size: 18px;
    line-height: 18px;
  }

  .validation-message {
    font-size: 14px;
    color: #e44;
    font-weight: normal;
    font-family: sans-serif;
  }

  pre {
    color: inherit;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    border: none;
    white-space:pre-line;
    word-break: normal;
    word-wrap: normal;
  }

  &.textarea {
    width: 100%;
    textarea {
      width: 100%;
      min-height: 5em;
    }
  }


  &.color input {
    display: none;
  }
}
