@import '../../stylesheets/variables';


.edit-inline-color-container {
  line-height: 0;
}

.edit-inline-color {
  width: 2em;
  height: 2em;
  border-radius: 50% 50%;
  display: inline-block;
  margin-right: 0.5em;
}

.editinline-inner {
  display: flex !important;

  &.editing {
    flex-direction: column;
    align-items: stretch;

    > * {
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      > * {
        margin-left: 8px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .edit-icon {
    margin: 0 0 0 5px;
    width: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      color: $success;
    }
  }

  &:hover .edit-icon {
    font-size: 18px;
    line-height: 18px;
  }

  > * > button {
    font-size: 16px;
    padding: 8px 10px;
  }

  .validation-wrap {
    margin-top: 8px;

    .validation-message {
      flex-grow: 1;
      font-size: 14px;
      color: #e44;
      font-weight: normal;
      font-family: sans-serif;
    }
  }

  pre {
    color: inherit;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    border: none;
    white-space:pre-line;
    word-break: normal;
    word-wrap: normal;
  }

  &.textarea {
    width: 100%;
    textarea {
      width: 100%;
      min-height: 5em;
    }
  }


  &.color input {
    display: none;
  }

  .Select {
    min-width: 10em;
  }
}
