@import '../../stylesheets/variables';

.Index {
  text-align: center;

  .Tag > .item-header {
    display: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 28px;
    margin-top: 0;
  }

  p {
    font-size: 18px;
  }

  > div {
    display: inline-block;
    margin: 10px 0 0;

    .btn:first-child {
      margin-right: 10px;
    }

    .btn {
      border: none;
    }
  }

  footer {
    margin: 20px -20px -20px;
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      margin: 0;
    }

    p a {
      text-decoration: underline;
    }
  }
}

@include breakpoint(tablet) {
  .Index {

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {

    footer {
      margin: 40px -40px -40px;
    }
  }
}
