@import '../../stylesheets/variables';

body {
  background: #000 url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: 100%; /* For WebKit*/
  -moz-background-size: 100%;    /* Mozilla*/
  -o-background-size: 100%;      /* Opera*/
  background-size: 100%;         /* Generic*/
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgba(0,0,0,0.85);
  height: 100vh;
  display: flex;
  flex-flow: column;

  > * {
    padding: 0 10px;

    color: #fff;
    background-color: transparent;
    > * {
      background-color: transparent;
    }
  }

  .navbar {
    margin-bottom: 10px;
    .container {
      width: 100%;
      padding: 0;
    }
  }

  > .container {
    flex: 1;
    overflow: auto;
    border-radius: $default-border-radius;
    width: 100%;

    > * {
      width: 100% !important;
      margin: 0 auto;
    }
  }

  .verify-email {
    margin-bottom: 0;
    padding: 0;
    border-top: none;
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    color: $gray-dark;
    border-radius: 0;

    p {
      padding: 19px;
    }

    .btn {
      padding: 0;
    }
  }
}
