@import '../../stylesheets/variables';

.Artist.page-viewtype .artist-image {
  float: right;
  margin-left: 1em;

  @media (max-width: $smallScreenWidth) {
    max-width: 50%;
  }
}

.artist-image {
  img.image {
    max-width: 100%;
    height: auto;
  }
}


.ArtistList {
  @include playlist-table;

  .header-Icons, .IconsAndLinks {
    width: 55px;
  }
}
