@import '../../stylesheets/variables';

.Artist.page-viewtype .artist-image {
  float: right;
  margin-left: 1em;

  & img {
    // TODO: remove when correct images are loaded
    height: 300px;
  }
}


.ArtistList {
  @include playlist-table;
  margin-top: 15px;
}
