@import '../../stylesheets/variables';


.PlayList {
  margin: 0.5em 0;

  &.page-viewtype {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;

    & > * {
      margin: 10px;
    }
    .item-header {
      width: 100%;
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  /* TODO Inline layout and remove some details on small screens */
  .tracks-wrapper {
    width: 100%;

    .tracks {
      @include track-table;
    }
  }
}

.modal.playlist-add-track {
  .modal-title {
    display: flex;
    justify-content: space-between;
  }
}
