@import '../../stylesheets/variables';


.PlayList {
  &.page-viewtype {
    margin: 0.5em 0;
    display: flex;
    flex-flow: column;
    height: 100%;

    .item-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: -10px;

      & > * {
        margin: 10px;
      }
      .item-header {
        width: 100%;
        margin: 10px 0 0 0;
      }
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  /* TODO Inline layout and remove some details on small screens */
  .tracks-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    margin-right: -10px;

    .scrollarea {
      height: 100%;
    }
  }
}

.modal.playlist-add-track {
  .modal-title {
    display: flex;
    justify-content: space-between;
  }
}

.PlayListList {
  &.page-viewtype,
  &.list-viewtype {
    @include playlist-table;
    margin-top: 15px;
  }

  .header-Icons, .IconsAndLinks {
    width: 25px;
  }
}
