.Album {

  &.page-context {
    & > * {
    }
  }

  &.inline-context {
    & > * {
    }
  }

  &.image-context {
    & > * {
    }
  }
}

.Track.page-context .album-image {
  float: right;
  margin-left: 1em;

  & img {
    // TODO: remove when correct images are loaded
    height: 300px;
  }
}
