@import '../../stylesheets/variables';

.album-image {
  img.image {
    max-width: 100%;
    height: auto;
  }
}

.Album.page-viewtype .album-image,
.Track.page-viewtype > .album-image {
  float: right;
  margin-left: 1em;

  @media (max-width: $smallScreenWidth) {
    max-width: 50%;
  }
}
