@import '../../stylesheets/variables';

.User {
  &.page-viewtype {
    margin: 0.5em 0;

    & > * {
      margin: 0.5em 0;
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  .playlists-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px;
    & > * {
      margin: 10px;
    }
  }
}
