@import '../../stylesheets/variables';

.IconsAndLinks .wrapper {
  margin: -3px;
  & > * {
    float: right;
    display: inline-block;
    margin: 3px;
  }
}

.service-link {
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: contain;

  &.needsreview {
    font-weight: bold;
    color: #f22;
    font-size: 15px;
    margin-top: 0;
  }

  &.spotify {
    background-image: url('/spotify.png');
  }
  &.musicbrainz {
    background-image: url('/musicbrainz.png');
  }
  &.youtube {
    background-image: url('/youtube.png');
  }
}

.spotify-player-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

@media (max-width: $smallScreenWidth) {
  .IconsAndLinks {
    max-height: 40px;

    .spotify-player-wrapper {
      transform: scale(0.5);
      transform-origin: 0 0;
      margin-right: -40px;
    }
  }
}
