@import '../../stylesheets/variables';


.Tag {
  &.page-viewtype {
    margin: 0.5em 0;

    & > * {
      margin: 0.5em 0;
    }
  }

  &.inline-viewtype {
    & > * {
      margin: 0 1em;
    }
  }

  /* TODO Inline layout and remove some details on small screens */
  .playlists {
    @include playlist-table;
    margin-top: 15px;
  }
}
