@import '../../stylesheets/variables';

.ImportFromURL {
  .import-spec {
    &> * {
      @include seperator-bottom;
      &:after { @include clearfix }
      margin-bottom: 1em;

      &> * {
        margin: 0 1em 0.9em 0;
        max-width: 99%;
      }
    }
  }

  .import-results {
    display: table;

    .import-item {
      display: table-row;

      &> * {
        display: table-cell;
        padding: 0 1em 0.9em 0;
        vertical-align: middle;
      }

      .waiting {
        font-weight: bold;
      }
      .error {
        color: $cb-red;
      }
      .PlayList {
        font-weight: bold;
      }
    }
  }
}

.ImportFromText {
  h4 {
    margin-top: 20px;
  }

  &> * {
    @include seperator-bottom;
    border-bottom: 1px solid #fff;
    &:after { @include clearfix }
    margin-bottom: 1em;
  }

  .import-spec-single {
    margin-top: 10px;

    &> * {
      margin: 0 1em 0.9em 0;
      max-width: 99%;
    }
  }

  .import-header {
    @include flex-row-wrap;

    .buttons > * {
      margin-left: 10px;
    }
  }

  .to-import {
    margin-top: 10px;
  }

  .ImportTrack {
    .search-match, .search-result {
      @include track-table;

      & > * {
        padding-left: 8px;
      }
      & > *:first-child {
        padding-left: 3px;
      }
    }

    .search-match {
      background-color: rgba(127, 255, 127, 0.1);
    }
    .search-result {
      background-color: rgba(255, 127, 127, 0.1);
    }

    .IconsAndLinks {
      width: 105px
    }

    .status, .control {
      width: 40px;
      border: none;

      .btn {
        padding: 6px;
        width: 30px;
      }
    }
  }
}

.ImportFromURL,
.ImportFromText {
  .import-spec-single,
  .import-spec-file {
    &> * {
      float: left;
    }
    h4 {
      float: none;
    }

    .listname {
      width: 20em;
    }
    .listnumber {
      width: 5em;
    }
    .listdate {
      width: 10em;
    }
    .listcompilers {
      width: 20em;
    }
    .listurl {
      width: 40em;
    }
    .listfile {
      padding: 0.25em;
    }
  }

  button.import {
    float: right;
    @include button-green;
  }
}
