@import '../../stylesheets/variables';

.ImportFromURL {
  .import-spec {
    &> * {
      @include seperator-bottom;
      &:after { @include clearfix }
      margin-bottom: 1em;

      &> * {
        margin: 0 1em 0.9em 0;
        max-width: 99%;
      }
    }
  }

  .import-results {
    display: table;

    .import-item {
      display: table-row;

      &> * {
        display: table-cell;
        padding: 0 1em 0.9em 0;
        vertical-align: middle;
      }

      .waiting {
        font-weight: bold;
      }
      .error {
        color: $cb-red;
      }
      .PlayList {
        font-weight: bold;
      }
    }
  }
}

.ImportFromText {
  h4 {
    margin-top: 20px;
  }

  &> * {
    @include seperator-bottom;
    border-bottom: 1px solid #fff;
    &:after { @include clearfix }
    margin-bottom: 1em;
  }

  .import-spec-single {
    margin-top: 10px;

    &> * {
      margin: 0 1em 0.9em 0;
      max-width: 99%;
    }
  }

  .PlayList .tracks-wrapper {
    overflow-y: visible;
  }

  .to-import {
    @include table;

    .duration {
      width: 4.5em
    }
    .status {
      width: 7.25em;
    }
    .error {
      color: $danger;
      font-weight: bold;
    }
  }
}

.ImportFromURL,
.ImportFromText {
  .import-spec-single,
  .import-spec-file {
    &> * {
      float: left;
    }
    h4 {
      float: none;
    }

    .listname {
      width: 20em;
    }
    .listnumber {
      width: 5em;
    }
    .listdate {
      width: 10em;
    }
    .listcompilers {
      width: 20em;
    }
    .listurl {
      width: 40em;
    }
    .listfile {
      padding: 0.25em;
    }
  }

  button.import {
    float: right;
    @include button-green;
  }
}
