@import './variables';
@import './forms';
@import './bootstrap-overrides';

body {
  font-size: 16px;
}

a, a:hover, a:visited, a:active, a:focus {
  color: #fff;
}

.item-header, .item-header a, .header-cell, h1, h2, h3, h4, h5, h6 {
  color: $cb-blue;
  font-weight: bold;
}

.inline-list {
  display: flex;
  flex-wrap: wrap;

  &> * {
    margin-right: 0.4em;
    padding-right: 0.4em;
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    &.label,
    &:last-child {
      border-right: none;
    }
  }
}

.item-header {
  display: flex;
  justify-content: space-between;
  @include seperator-bottom;

  &> * {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.scrollarea {
  .scrollbar-container {
    background-color: #777;

    &.vertical {
      width: 14px;
      border-radius: 5px;

      .scrollbar {
        background-color: #fff;
        width: 12px;
        border-radius: 4px;
      }
    }
  }
}
