@import './variables';
@import './forms';
@import './bootstrap-overrides';

body {
  font-size: 16px;
}

a, a:hover, a:visited, a:active, a:focus {
  color: #fff;
}

*:focus, a:focus {
  outline: none;
}

.item-header, .item-header a, h1, h2, h3, h4, h5, h6 {
  color: $cb-blue;
  font-weight: bold;
}

.item-header {
  .header-right {
    display: flex;
    align-items: center;
    margin: -10px;
    > * {
      margin: 10px;
    }
  }
}

.inline-list {
  display: flex;
  align-items: center;

  > *, > .data > * {
    white-space: nowrap;
    padding: 0;
    margin-right: 0.3em;
    border-style: none;

    &:after {
      content: ',';
    }
    &:last-child:after,
    &.label:after {
      content: '';
    }

    & > * {
      display: inline-block;
      margin-right: 0;
    }
  }
}


.context-menu {
  height: auto !important;
  overflow: visible !important;

  .dropdown:not(.open) ul.dropdown-menu {
      display:block !important;
      opacity:0;
      pointer-events:none;
  }
  ul.dropdown-menu {
    right: 0;
    left: auto;
    border: 1px solid $gray;
  }

  .btn-default {
    background: transparent;
    color: #fff;
    border: none;
    padding: 1px 6px;
    font-size: 20px;
  }
}


.page-viewtype {
  > .item-header,
  > .item-details > .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;

    @include seperator-bottom;
    font-size: 150%;

    &> * {
      margin: 0 10px;
    }
  }
}

.ExpandControl {
  color: #fff;
}
