$primary: #337ab7;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$facebook: #3b5998;
$google: #ea4335;
$github: $gray-dark;

$cb-blue: #03a9f4;
$cb-aqua: #21ADC2;
$cb-green: #00D490;
$cb-yellow: #FFCF50;
$cb-red: #DA5847;

@mixin button-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

$default-border-radius: 4px;


@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}


@mixin breakpoint($point) {
  @if $point == desktop-large {
    @media (min-width: 1200px) { @content; }
  } @else if $point == desktop {
    @media (min-width: 1024px) { @content; }
  } @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  } @else if $point == handheld-large {
    @media (min-width: 480px) { @content; }
  } @else {
    @media (min-width: $point) { @content; }
  }
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }

  @supports (-ms-accelerator:true) {
    @content;
  }
}

@mixin seperator-bottom {
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}
@mixin seperator-bottom-light {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
@mixin seperator-top {
  padding-top: 5px;
  border-top: 1px solid #777;
}
@mixin seperator-top-light {
  padding-top: 5px;
  border-top: 1px solid #333;
}


@mixin table {
  display: table;
  table-layout:fixed;
  width: 100%;
  border-collapse: collapse;
  @include seperator-top;
  text-align: left;

  & > * {
    display: table-row;

    &.header-row {
      color: $gray-light;
      font-weight: bold;
    }

    & > * {
      display: table-cell;
      @include seperator-bottom-light;
      margin: 0;
      padding: 5px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }

  .header-Icons {
    /*width: 120px; /* For when spotify player enabled */
    width: 85px;
    color: transparent; /* display: none  breaks table column width */
  }
  .header-Menu {
    width: 2em;
    color: transparent; /* display: none  breaks table column width */
  }
}


@mixin playlist-table {
  @include table;

  &.date, &.header-Date {
    width: 8em;
  }
}

$small-music-image: 5.5em;

@mixin track-table {
  @include table;

  a.Track {
    font-weight: bold;
  }
  .album-image, .header-Cover {
    width: $small-music-image;
  }
  .header-Length, .duration {
    width: 4.5em;
  }
}
